html,
body {
	margin: 0 auto;
	font-family: "Larsseit", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.app {
	display: grid;
	justify-content: center;
	grid-template-columns: 480px 480px 480px;
	grid-auto-rows: minmax(80px, auto);

	overflow: hidden;
}
