html,
body {
	margin: 0 auto;
	font-family: "Larsseit", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.app {
	display: grid;
	justify-content: center;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: repeat(3, 33.3%);
	grid-auto-rows: minmax(80px, auto);
}
.text {
	font-size: 24px;
	color: #ffffff;
}
