html,
body {
	margin: 0 auto;
	font-family: "Larsseit", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.app {
	display: grid;
	justify-content: center;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: repeat(3, 33.3%);
	grid-auto-rows: minmax(80px, auto);
}
.text {
	font-size: 24px;
	color: #ffffff;
}
.pink {
	background: #ffe2de;
}
.lightgreen {
	background: #c4e769;
}
.lightblue {
	background: #62d0df;
}
.blue {
	background: #0052c1;
}
.darcblue {
	background: #22356f;
}
.lilac {
	background: #dee1ff;
}
.purple {
	background: #8f00ff;
}
