.card {
  width: 480px;
  height: 480px;

  &__title {
    padding: 130px 184px 0 105px;
    &::after {
      top: 100px;
      left: 70px;
    }
  }
  &__img {
    background: url(./../img/card-img.jpg);
    width: 100%;
    height: 100%;
  }
}
