.footer {
  grid-area: 11 / span 3;
  display: flex;
  &__img {
    margin-right: 70px;
  }
  &__content {
    max-width: 200px;
    padding-top: 110px;
    margin-right: 60px;
    position: relative;
    &--box {
      margin-right: 100px;
      &::before {
        content: "";

        display: block;
        width: 2px;
        height: 175px;

        box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.25);

        position: absolute;
        top: 145px;
        left: -40px;
      }

      &::after {
        content: "";

        display: block;
        width: 2px;
        height: 170px;

        box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.25);

        position: absolute;
        top: 145px;
        left: 210px;
      }
    }
  }
  &__title {
    margin-bottom: 55px;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;

    color: #22356f;
  }
  &__text {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;

    color: rgba(34, 53, 111, 0.5);
    &--min {
      max-width: 150px;
      margin-bottom: 30px;
    }
    &--mail {
      color: #17f;
    }
  }

  &__legal {
    padding: 35px 185px;
    grid-area: 12 / span 3;
    color: #fff;
  }
  &__info {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    &::before {
      content: " © ";
      display: inline-block;
      width: 15px;
      height: 15px;
    }
  }
}
